.sorting {
  display: flex;

  li {
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background-color: #f6f6f6;
      color: #222;
    }

    &:hover {
      background-color: #f0f0f0;
    }

    p {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
}
